@using RS1_Ispit_asp.net_core.ViewModels
@{
    ViewData["Title"] = "DetaljiPopravniPrikaz";
}
@model PopravniDetalji_VM_Prikaz
<style>
    .DA{
        color:white;
        background-color:green;
    }
    .NE{
        color:white;
        background-color:red;
    }
</style>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ucenik</th>
                <th>Odjeljenje</th>
                <th>Broj u dnevniku</th>
                <th>Pristupio ispitu</th>
                <th>Rezultati maturskog (max 100)</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.podaciDetaljiPopravni)
            {
                <tr>
                    <td>@x.ucenikImePrezime</td>
                    <td>@x.odjeljenjeNaziv</td>
                    <td>@x.brojUDnevniku</td>
                    <td>
                        @if (x.imaPravoPristupa)
                        {
                            <input id="mijenjajPrisutnost-@x.popravniDetaljiID" class="@x.rezultatPrisutan" value="@x.rezultatPrisutan" type="submit"/>
                        }
                        else
                        {
                            //ako nema pravo pristupa
                            <span style="color:red;">Nema pravo pristupa na popravni</span>
                        }
                        <script>
                            $("#mijenjajPrisutnost-@x.popravniDetaljiID").click(function (event) {
                                $.get("/PopravniIspit/MijenjenjePrisutnosti?detaljiID=@x.popravniDetaljiID",
                                    function (result, status) {
                                        $("#nekiID").html(result);
                                    }
                                );
                            });
                        </script>
                    </td>
                    <td>
                        @if (x.imaPravoPristupa)
                        {
                            @if (x.prisutan)
                            {
                                @*@x.rezultatMaturskog*@
                                <input value="@x.rezultatMaturskog" class="ajaxResult" data-zaprimi="@x.popravniDetaljiID"/>
                            }
                            else
                            {
                                @:x
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                    <td>
                       @if (x.imaPravoPristupa)
                       {
                           @if (x.prisutan)
                           {
                               <input value="Uredi" type="submit" id="uredivanjeBodova-@x.popravniDetaljiID"/>
                           }
                           else
                           {
                               //ostavi prazno
                           }
                       }
                       else
                       {
                           <span></span>
                       }
                        <script>
                            $("#uredivanjeBodova-@x.popravniDetaljiID").click(function (event) {
                                $.get("/PopravniIspit/MijenjanjeBodova?detaljiID=@x.popravniDetaljiID",
                                    function (result, status) {
                                        $("#nekiID").html(result);
                                    }
                                );
                            });
                        </script>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<script>
    $(document).ready(function (event) {

        $(".ajaxResult").change(function () {

            var id = $(this).attr("data-zaprimi");
            var bodovi = $(this).val();
            var potrebanUrl = "/PopravniIspit/SnimanjeBodova?detaljiID=" + id + "&Bodovi=" + bodovi;

            $.ajax({
                url: potrebanUrl,
                type: "POST",
                success: function (result) {
                    $("#nekiID").html(result);
                }
            });
        });
    });
</script>