@using RS1_Ispit_asp.net_core.ViewModels
@{
    ViewData["Title"] = "PrikazPopravnogIspita";
}
@model PopravniIspit_VM_Prikaz
<h5>Popravni ispit za odjeljenje @Model.odjeljenjeOznaka @Model.naszivSkole - @Model.skolskaGodina</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Datu popravnog ispita</th>
            <th>Predmet</th>
            <th>Broj ucenika na popravnom ispitu **</th>
            <th>Broj ucenika koji su polozili popravni ispit (bodovi > 50)</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.podaciPopravniIspit)
        {
            <tr>
                <td>@x.datumPopravnogIspita</td>
                <td>@x.predmet</td>
                <td>@x.brojUcenikaNaPopravnomIspitu</td>
                <td>@x.brojUcenikaKojiSUPoloziliPopravniIspit</td>
                <td>
                    <a href="/PopravniIspit/UrediPopravni?popravniID=@x.popravniISppitID">Uredi</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/PopravniIspit/DodavanjePopravnogIspita?odjeljenjeID=@Model.odjeljenjeID&skolaID=@Model.skolaID&skolskaGodinaID=@Model.skolskaGodinaID">Dodaj</a>
